<md-toolbar>
    <div class="md-toolbar-tools blue">

        <strong>
            <i class="material-icons left">
                assignment
            </i> InLab
        </strong>

    </div>
</md-toolbar>

<div layout="row">
    <sidenav></sidenav>
    <div ng-cloak md-scroll-y class="form" flex layout="column">
        <div>
            <div id='MACHINES'>
              <div>
                <div id='THINGS'>
                  <md-list> 
                    <md-list-item class="small-font-medium topic">
                        <p class="md-list-item-text" flex><strong> Patrimônio </strong></p>
                        <p class="md-list-item-text" flex><strong> Patrimônio ints </strong></p>
                        <p class="md-list-item-text" flex><strong> Nome </strong></p>
                        <p class="md-list-item-text" flex><strong> Usuario </strong></p>
                        <p class="md-list-item-text" flex><strong> Sala </strong></p>

                    </md-list-item>
                    <br>
                    <md-divider></md-divider>
                    <br>
                    <md-list-item class="small-font-medium topic" ng-repeat="machine in machines" ng-click="showMachine(machine._id)">
                        <p class="md-list-item-text" flex>{{machine.number_Patrimony}}</p>
                        <p class="md-list-item-text"flex>{{machine.inst_Patrimony}} </p>
                        <p class="md-list-item-text"flex>{{machine.description}} </p>
                        <p class="md-list-item-text"flex>{{machine.machine_user}}</p>
                        <p class="md-list-item-text"flex>{{machine.room}}</p>
                    </md-list-item>
                </md-list>
            </div>
                <md-button ng-click="goTo('create-edit-machine')" id="criarNovaMaquina" class="md-fab md-fab-bottom-right red lighten-2">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </div>
    </div>

</div>
