<md-toolbar>
    <div class="md-toolbar-tools blue">
      <img width="200px" src="src/components/images/customLogo.png" alt="">
        <!-- <strong>
            <i class="material-icons left">
                assignment
            </i> InLab
        </strong> -->

    </div>
</md-toolbar>

<div layout="row">
    <sidenav></sidenav>
    <div ng-cloak md-scroll-y class="form" flex layout="column" layout-margin="20px">
        <div>
          <div id='MACHINES'>
            <md-list-item class="form">
              <p>
                <md-input-container style="background-color=#90CAF9">
                  <label>Pesquisar por Patrimonio</label>
                  <input type="text" ng-model="search.number_Patrimony" flex-gt-sm="">
                </md-input-container>
              </p>
              <p>
                <md-input-container>
                  <label>Pesquisar por P.Inst.</label>
                  <input type="text" ng-model="search.inst_Patrimony" flex-gt-sm="">
                </md-input-container>
              </p>
              <p>
                <md-input-container>
                  <label>Pesquisar por Descrição</label>
                  <input type="text" ng-model="search.description" flex-gt-sm="">
                </md-input-container>
              </p>
              <p>
                <md-input-container>
                  <label>Pesquisar por Usuário</label>
                  <input type="text" ng-model="search.machine_user" flex-gt-sm="">
                </md-input-container>
              </p>
              <p>
                <md-input-container>
                  <label>Pesquisar por Sala</label>
                  <input type="text" ng-model="search.room" flex-gt-sm="">
                </md-input-container>
              </p>
              <md-divider></md-divider>
            </md-list-item>
                  <!--
                  <md-list layout-padding="20dp">
                    <md-list-item class="small-font-medium topic">
                        <p class="md-list-item-text" flex><strong>Patrimônio</strong></p>
                        <p class="md-list-item-text" flex><strong>Patrimônio Ints.</strong></p>
                        <p class="md-list-item-text" flex><strong>Nome</strong></p>
                        <p class="md-list-item-text" flex><strong>Usuario</strong></p>
                        <p class="md-list-item-text" flex><strong>Sala</strong></p>
                        <p class="md-list-item-text"><strong></strong></p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-repeat="machine in machines | filter:search:search.number_Patrimony
                                                                 | filter:search:search.inst_Patrimony
                                                                 | filter:search:search.description
                                                                 | filter:search:search.machine_user
                                                                 | filter:search:search.room">
                        <p class="md-list-item-text" flex>{{machine.number_Patrimony}}</p>
                        <p class="md-list-item-text" flex>{{machine.inst_Patrimony}} </p>
                        <p class="md-list-item-text" flex>{{machine.description}} </p>
                        <p class="md-list-item-text" flex>{{machine.machine_user}}</p>
                        <p class="md-list-item-text" flex>{{machine.room}}</p>
                        <p class="md-list-item-text" flex><md-button class="md-raised md-primary" ng-click="showMachine(machine._id)">Visualizar</md-button></p>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
              -->
              <table ng-cloak class="highlight margin bordered">
                  <thead>
                  <tr class="card-panel cyan">
                      <td><strong><span class="white-text">Patrimônio</span></strong></td>
                      <td><strong><span class="white-text">Patrimônio Inst.</span></strong></td>
                      <td><strong><span class="white-text">Descrição</span></strong></td>
                      <td><strong><span class="white-text">Usuário</span></strong></td>
                      <td><strong><span class="white-text">Sala</span></strong></td>
                      <td><strong><span class="white-text"></span></strong></td>
                  </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="machine in machines | filter:search:search.number_Patrimony
                                                     | filter:search:search.inst_Patrimony
                                                     | filter:search:search.description
                                                     | filter:search:search.machine_user
                                                     | filter:search:search.room">
                      <td class="light">{{machine.number_Patrimony}}</td>
                      <td class="light">{{machine.inst_Patrimony}}</td>
                      <td class="light"><textarea>{{machine.description}}</textarea></td>
                      <td class="light">{{machine.machine_user}}</td>
                      <td class="light">{{machine.room}}</td>
                      <td class="md-list-item-text" flex><md-button class="md-raised md-primary" ng-click="showMachine(machine._id)">Visualizar</md-button></td>
                  </tr>

                  </tbody>
              </table>
                <md-button ng-click="goTo('create-edit-machine')" id="criarNovaMaquina" class="md-fab md-fab-bottom-right red lighten-2">
                    <md-icon>add</md-icon>
                </md-button>
        </div>
    </div>
  </div>
</div>
