<md-toolbar>
    <div class="md-toolbar-tools blue">

        <strong>
            <i class="material-icons left">
                assignment
            </i> InLab
        </strong>

    </div>
</md-toolbar>

<style>
    tbody > tr {
        cursor: pointer;
    }

    .md-button.md-fab.md-fab-bottom-right {
        top: auto;
        right: 20px;
        bottom: 20px;
        left: auto;
        position: fixed;
    }

    #USERS{
        padding: 30px;
    }

    td{
        padding-left: 30px;
    }

</style>

<div layout="row">
    <sidenav></sidenav>
    <div ng-cloak md-scroll-y class="form" flex layout="column">
        <div>
            <div id='USERS'>
                <br>
                <table ng-cloak class="highlight margin bordered">
                    <thead>
                    <tr class="card-panel cyan">
                        <td><strong><span class="white-text">Nome</span></strong></td>
                        <td><strong><span class="white-text">Email</span></strong></td>
                        <td><strong><span class="white-text">Sala</span></strong></td>
                        <td><strong><span class="white-text">Tipo de usuário</span></strong></td>
                        <td><strong><span class="white-text"></span></strong></td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="user in users">
                        <td class="light">{{user.name}}</td>
                        <td class="light">{{user.email}}}</td>
                        <td class="light">{{user.room}}</td>
                        <td class="light">{{user.userKind}}</td>
                        <td><md-button class="md-raised md-primary" ng-click="setUserKind($event, user)">Tornar ADM</md-button></td>
                    </tr>

                    </tbody>

                </table>

                <br>

                <md-button ng-click="goTo('')" id="" class="md-fab md-fab-bottom-right red lighten-2">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </div>
    </div>

</div>
