.md-sidenav {

    width: 300px;
    position: fixed;
    z-index: 1000;
}
.virtus-logo-place {
    text-align: center;
    width: 100%;
    height: 100%;
}
.virtus-logo-img{
      width: 120px;
      height: 24px;
}


.user-content{
      padding-top: 32px;
      padding-bottom: 32px;
      //background-color: primary-color;
}

.user-infos{
      height: 130px;
      padding-top: 10px;
      //color: general-white;
      text-align: center;
}

.virtus-badge{
      align-content: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #212121;
      color: #FFFFFF;
}
