<md-toolbar>
    <div class="md-toolbar-tools blue">
      <img width="200px" src="src/components/images/customLogo.png" alt="">
        <!-- <strong>
            <i class="material-icons left">
                assignment
            </i> InLab
        </strong> -->

    </div>
</md-toolbar>

<div layout="row">
    <sidenav></sidenav>
    <div ng-cloak md-scroll-y class="form" flex layout="column" layout-margin="20px">
        <div>
            <div >
                <div>
                    <div >
                      <!--
                        <md-list>
                            <md-list-item class="small-font-medium topic">
                                <p class="md-list-item-text" flex><strong> Nº Patrimônio </strong></p>
                                <p class="md-list-item-text" flex><strong> Nº Série </strong></p>
                                <p class="md-list-item-text" flex><strong> Descrição </strong></p>

                            </md-list-item>
                            <br>
                            <md-divider></md-divider>
                            <br>
                            <md-list-item class="small-font-medium topic" ng-repeat="object in listResult">
                                <p class="md-list-item-text" flex>{{object.number_Patrimony}}</p>
                                <p class="md-list-item-text"flex>{{object.serie}} </p>
                                <p class="md-list-item-text"flex>{{object.description}} </p>
                            </md-list-item>
                        </md-list>
                      -->
                      <table ng-cloak class="highlight margin bordered">
                          <thead>
                          <tr class="card-panel cyan">
                                <td><strong><span class="white-text">Nº Patrimônio</span></strong></td>
                              <td><strong><span class="white-text">Nº Série</span></strong></td>
                              <td><strong><span class="white-text">Descrição</span></strong></td>
                          </tr>
                          </thead>

                          <tbody>
                          <tr ng-repeat="object in listResult">
                              <td class="light">{{object.number_Patrimony}}</td>
                              <td class="light">{{object.serie}}</td>
                              <td class="light">{{object.description}}</td>
                          </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
