<md-toolbar>
    <div class="md-toolbar-tools blue">

        <strong>
            <i class="material-icons left">
                assignment
            </i> InLab
        </strong>

    </div>
</md-toolbar>

<div layout="row">
    <sidenav></sidenav>
    <div ng-cloak md-scroll-y class="form" flex layout="column">
        <div>
            <div >
                <div>
                    <div >
                        <md-list>
                            <md-list-item class="small-font-medium topic">
                                <p class="md-list-item-text" flex><strong> Nº Patrimônio </strong></p>
                                <p class="md-list-item-text" flex><strong> Nº Série </strong></p>
                                <p class="md-list-item-text" flex><strong> Descrição </strong></p>

                            </md-list-item>
                            <br>
                            <md-divider></md-divider>
                            <br>
                            <md-list-item class="small-font-medium topic" ng-repeat="object in listResult" ng-click="showThing(object._id)">
                                <p class="md-list-item-text" flex>{{object.number_Patrimony}}</p>
                                <p class="md-list-item-text"flex>{{object.serie}} </p>
                                <p class="md-list-item-text"flex>{{object.description}} </p>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
