<md-toolbar>
    <div class="md-toolbar-tools blue">
        <img width="200px" src="src/components/images/customLogo.png" alt="">
    </div>
</md-toolbar>

<div layout="row">
    <sidenav ></sidenav >

    <div class="form" layout="column" flex ng-cloak>

        <md-content layout-padding="" flex="">
            <md-card layout-padding>
                <div>
                    <form>

                        <md-input-container class="md-block" flex-gt-xs="">
                            <label>Nome</label>
                            <input type="text" ng-model="room.name" name="roomName" required>
                        </md-input-container>

                        <div class="md-block" ng-show="!editable" flex-gt-xs style="text-align: right">
                            <md-button type="submit" value="salvar" ng-click="createRoom(room)" class="md-raised md-primary">Salvar</md-button>
                        </div>
                        <div class="md-block" ng-show="editable" flex-gt-xs style="text-align: right">
                            <md-button type="submit" value="editar" ng-click="editRoom(room)" class="md-raised md-primary">Editar</md-button>
                        </div>
                    </form>
                </div>
            </md-card>
        </md-content>
    </div>
</div>
