<!-- ==== SIDEBAR ==== -->
<md-sidenav id="SIDENAV" class="md-sidenav" role="sidenav" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-swipe-left="toggleSidenav('sidenav')">


    <!-- ==== SIDEBAR_LINKS ==== -->
    <md-content role="navigation">
        <md-list ng-repeat="action in data.sidenav.actions" ng-click="toggleSidenav('sidenav')">
            <hr ng-show="isUserConfigs(action.name)">
            <md-list-item ng-style="{'height':'50px'}"md-colors="{background: '{{getClass(action.link)}}'}" class="sidebar-itens" name="{{action.name}}" ng-click="setRoute(action.link)">
                <md-icon>{{action.icon}}</md-icon>
                <p class="base-font-regular"><strong>{{action.name}}</strong></p>
            </md-list-item>
        </md-list>

    </md-content>

</md-sidenav>
    <!-- ==== /SIDEBAR_LINKS ==== -->
    <!-- ==== /SIDEBAR ==== -->
