<md-toolbar>
    <div class="md-toolbar-tools blue">O logo aqui</div>
</md-toolbar>
<div layout="row">
    <sidenav></sidenav>

    <div class="form" flex layout="column" ng-cloak>

        <md-content layout-padding="" flex="">
            <div>
                <form name="mydataForm">

                    <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm="">
                            <label>Nome</label>
                            <input ng-model="mydata.name">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Email</label>
                            <input ng-model="mydata.email">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Sala</label>
                            <input ng-model="mydata.room">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Tipo de usuário</label>
                            <input ng-model="mydata.userKind">
                        </md-input-container>
                    </div>

                    <div class="md-block" ng-show="editable" flex-gt-xs style="text-align: right">
                        <md-button type="submit" value="editar" ng-click="editMyData(mydata)" class="md-raised md-primary">Editar</md-button>
                    </div>

                </form>
            </div>
        </md-content>
    </div>
</div>
