<md-toolbar>
  <div class="md-toolbar-tools blue">
    <img width="200px" src="src/components/images/customLogo.png" alt="">
    <!-- <strong>
      <i class="material-icons left">
        assignment
      </i> InLab
    </strong> -->

  </div>
</md-toolbar>
<div layout="row">
  <sidenav></sidenav>
  <div class="form" flex layout="column" ng-cloak>

    <md-content layout-margin="20px" layout-padding>
      <md-card layout-padding>
        <div flex>
          <form name="thingForm" enctype="multipart/form-data" novalidate >
            <md-input-container class="md-block">
              <label>Descrição</label>
              <input ng-disabled = "currentUserKind == 'COMUM'" type="text" name="description" ng-model="thing.description" md-maxlenght="150" rows="5" md-select-on-focus="" required>
              <div ng-messages="thingForm.description.$error" ng-messages-multiple ng-show="thingForm.description.$touched && thingForm.description.$invalid">
                <div ng-message="required">
                  Você precisa descrever o objeto
                </div>
              </div>
            </md-input-container>

            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs="">
                <label>Número de patrimônio</label>
                <input ng-disabled = "currentUserKind == 'COMUM'" type="text" name="numberPatrimony" ng-model="thing.number_Patrimony"/>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>Número de Série</label>
                <input ng-disabled = "currentUserKind == 'COMUM'" type="text" name="numberSerie" ng-model="thing.serie" />
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="">
                <label>Origem</label>
                <input ng-disabled = "currentUserKind == 'COMUM'" type="text" name="origin" ng-model="thing.origem">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>Marca/Modelo</label>
                <input ng-disabled = "currentUserKind == 'COMUM'" type="text" name="brandModel" ng-model="thing.brand_model">
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="">
                <label>Sala</label>
                <md-select ng-disabled = "currentUserKind == 'COMUM'" ng-model="thing.room" name="room">
                  <md-option ng-repeat="room in listRooms" id="{{room.name}}" value="{{room.name}}">{{room.name}}</md-option>
                </md-select>

              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>Situação</label>
                <md-select ng-disabled = "currentUserKind == 'COMUM'" ng-model="thing.situation" name="machineSituation">
                  <md-option value="bom">BOM</md-option>
                  <md-option value="ruim">RUIM</md-option>
                  <md-option value="desuso">DESUSO</md-option>
                  <md-option value="doação">DOAÇÂO</md-option>
                </md-select>

              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>Data de aquisição</label>
                <md-datepicker ng-disabled = "currentUserKind == 'COMUM'" type="date" ng-model="thing.acquisition_date" md-placeholder="Enter date" md-open-on-focus />
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="">
                <label>Local de Destino</label>
                <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="thing.destination">
              </md-input-container>


              <md-input-container class="md-block" flex-gt-sm="">
                <label>Comentários</label>
                <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="thing.comments" md-maxlength="75" md-select-on-focus="">
              </md-input-container>
            </div>

            <!--  se não tiver foto for criar, mostra esse -->
            <input id="imageThing" type="file" name="image" ng-model=thing.image>

            <br>
            <br>

            <div>
              <md-button ng-click="viewImage(thing)" ng-show="(thing != null) && getHasImage(thing)" ng-model="thing.image" class="md-primary md-hue-1">Objeto ja possui uma imagem</md-button>
            </div>

            <div ng-show="clickOK">
              <img ng-src="{{trustSrc(imageUrl)}}" style="width:400px; height:400px; display:inline-block" alt=""></img>
            </div>

            <!-- esconder esses botoes do usuario comum -->
            <div class="md-block" ng-if="!editable" flex-gt-xs style="text-align: right">
              <md-button type="submit" value="salvar" ng-click="addThing(thing)" class="md-raised md-primary">Salvar</md-button>
            </div>

            <div class="md-block" ng-if="editable" ng-hide="currentUserKind == 'COMUM'" flex-gt-xs style="text-align: right">
              <md-button type="submit" value="editar" ng-click="editThing(thing)" class="md-raised md-primary">Editar</md-button>
            </div>

          </form>
        </div>
      </md-card>
    </md-content>
  </div>
</div>
