<md-toolbar>
    <div class="md-toolbar-tools blue">

        <strong>
            <i class="material-icons left">
                assignment
            </i> InLab
        </strong>

    </div>
</md-toolbar>

<div layout="row">
  <sidenav ></sidenav >

  <div class="form" layout="column" flex ng-cloak>

      <md-content layout-padding="" flex="">
          <div>
              <form name="machineForm">

                  <div layout-gt-xs="row">
                      <md-input-container class="md-block" flex-gt-xs="">
                          <label>IP público</label>
                          <input ng-model="machine.public_ip">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-xs="">
                          <label>Nome</label>
                          <input ng-model="machine.name">
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Usuário da Máquina</label>
                          <input ng-model="machine.machine_user">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Processador</label>
                          <input ng-model="machine.processor">
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>HD</label>
                          <input ng-model="machine.hd">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Memória RAM</label>
                          <input ng-model="machine.ram_memory">
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Número de Patrimônio</label>
                          <input ng-model="machine.number_Patrimony">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Patrimônio Inst</label>
                          <input ng-model="machine.inst_Patrimony">
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Monitor</label>
                          <input ng-model="machine.monitor">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Número de Patrimônio do Monitor </label>
                          <input ng-model="machine.monitor_number_Patrimony">
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Patrimônio Monitor Inst</label>
                          <input ng-model="machine.inst_monitor_Patrimony">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Sala</label>
                          <input ng-model="machine.room">
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Situação</label>
                          <md-select ng-model="machine.situation">
                              <md-option value="bom">BOM</md-option>
                              <md-option value="ruim">RUIM</md-option>
                              <md-option value="desuso">DESUSO</md-option>
                              <md-option value="doação">DOAÇÂO</md-option>
                          </md-select>
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Data de aquisição</label>
                          <md-datepicker ng-model="machine.acquisition_date" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                      </md-input-container>
                  </div>



                  <div class="md-block" ng-show="!editable" flex-gt-xs style="text-align: right">
                      <md-button type="submit" value="salvar" ng-click="addMachine(machine)" class="md-raised md-primary">Salvar</md-button>
                  </div>
                  <div class="md-block" ng-show="editable" flex-gt-xs style="text-align: right">
                      <md-button type="submit" value="editar" ng-click="editMachine(machine)" class="md-raised md-primary">Editar</md-button>
                  </div>

                  {{machine}}

              </form>
          </div>
      </md-content>
  </div>
</div>
