<md-toolbar>
    <div class="md-toolbar-tools blue">

        <strong>
            <i class="material-icons left">
                assignment
            </i> InLab
        </strong>

    </div>
</md-toolbar>
<div layout="row">
    <sidenav></sidenav>
    <div ng-cloak md-scroll-y class="form" flex layout="column">
        <div>
            <div>
                <div>
                    <div>
                        <md-list>
                            <md-list-item class="small-font-medium topic">
                                <p class="md-list-item-text" flex><strong> Salas </strong></p>
                            </md-list-item>
                            <br>
                            <md-divider></md-divider>
                            <br>
                            <md-list-item class="small-font-medium topic" ng-repeat="room in listRooms" ng-click="showRoom(room.name)">
                                <p class="md-list-item-text" flex>{{room.name}}</p>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </div>

    </div>