<md-toolbar>
    <div class="md-toolbar-tools blue">
      <img width="200px" src="src/components/images/customLogo.png" alt="">
    </div>
</md-toolbar>

<div layout="row">
    <sidenav></sidenav>
    <div ng-cloak md-scroll-y class="form" flex layout="column" layout-margin="20px">
      <div>
        <div id='THINGS'>
                <md-list-item class="form">
                  <p>
                    <md-input-container style="background-color=#90CAF9">
                      <label>Pesquisar por Patrimonio</label>
                      <input type="text" ng-model="search.number_Patrimony" flex-gt-sm="">
                    </md-input-container>
                  </p>
                  <p>
                    <md-input-container>
                      <label>Pesquisar por No. Série</label>
                      <input type="text" ng-model="search.serie" flex-gt-sm="">
                    </md-input-container>
                  </p>
                  <p>
                    <md-input-container>
                      <label>Pesquisar por Descrição</label>
                      <input type="text" ng-model="search.description" flex-gt-sm="">
                    </md-input-container>
                  </p>
                  <p>
                    <md-input-container>
                      <label>Pesquisar por Marca/Modelo</label>
                      <input type="text" ng-model="search.brand_model" flex-gt-sm="">
                    </md-input-container>
                  </p>
                  <p>
                    <md-input-container>
                      <label>Pesquisar por Situação</label>
                      <input type="text" ng-model="search.situation" flex-gt-sm="">
                    </md-input-container>
                  </p>
                  <md-divider></md-divider>
                </md-list-item>
              <table ng-cloak class="highlight margin bordered">
                  <thead>
                  <tr class="card-panel cyan">
                      <td><strong><span class="white-text">Patrimônio</span></strong></td>
                      <td><strong><span class="white-text">Série</span></strong></td>
                      <td><strong><span class="white-text">Descrição</span></strong></td>
                      <td><strong><span class="white-text">Marca/Modelo</span></strong></td>
                      <td><strong><span class="white-text">Situação</span></strong></td>
                      <td><strong><span class="white-text"></span></strong></td>
                  </tr>
                  </thead>

                  <tbody>
                  <tr ng-repeat="thing in listThings | filter:search:search.number_Patrimony
                                                     | filter:search:search.serie
                                                     | filter:search:search.description
                                                     | filter:search:search.brand_model
                                                     | filter:search:search.situation">
                      <td class="light">{{thing.number_Patrimony}}</td>
                      <td class="light">{{thing.serie}}</td>
                      <td class="light"><textarea>{{thing.description}}</textarea></td>
                      <td class="light">{{thing.brand_model}}</td>
                      <td class="light">{{thing.situation}}</td>
                      <td class="md-list-item-text" flex><md-button class="md-raised md-primary" ng-click="showThing(thing._id)">Visualizar</md-button></td>
                  </tr>

                  </tbody>
              </table>
            <div id="FAB-BUTTON">
                <md-button ng-click="goTo('create-edit-thing')" id="criarNovoObjeto" class="md-fab md-fab-bottom-right red lighten-2">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </div>
    </div>
 </div>
</div>
