<div class="login">
    <div class="login-screen">

        <div class="center">
            <img id="project-image" ng-src="img/splab.png">
        </div>

        <div class="app-title">
            <h1>Cadastro</h1>
        </div>

        <form name="CreateUser" class="login-form">

            <md-input-container class="control-group">
                <input type="text" class="login-field" placeholder="Nome" name="user-name" id="user-name" ng-model="user.name" required>
                <ng-messages for="CreateUser.user-name.$error" role="alert" multiple>
                    <div ng-message="required" >Campo vazio</div>
                </ng-messages>

            </md-input-container>

            <div class="control-group">
                <input type="text" class="login-field" placeholder="Email" name="login-email" id="login-email" ng-model="user.email" required>
                <label class="login-field-icon fui-user" for="login-email"></label>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" placeholder="Password" name="login-pass" id="login-pass" ng-model="user.password" required>
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" placeholder="Confirm password" name="login-pass" id="confirm-pass" ng-model="user.confirmpassword" required>
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <md-button class="btn btn-primary btn-large btn-block">Salvar</md-button>

        </form>
    </div>
</div>