<md-toolbar>
    <div class="md-toolbar-tools blue">
      <img width="200px" src="src/components/images/customLogo.png" alt="">
    </div>
</md-toolbar>

<div layout="row">
  <sidenav ></sidenav >

  <div class="form" layout="column" flex ng-cloak>
      <md-content layout-margin="20px" layout-padding >
          <md-card layout-padding>
            <div flex>
              <form name="machineForm">

                  <md-input-container class="md-block" flex-gt-xs="">
                      <label>Descrição</label>
                      <input ng-disabled = "currentUserKind == 'COMUM'" type="text" autocomplete=""ng-model="machine.description" md-maxlength="150" rows="5" name="machineDescription" maxlength="150" required>
                      <div ng-messages="machineForm.machineDescription.$error">
                          <div ng-message="required"> Este campo é obrigatório! </div>
                      </div>
                  </md-input-container>

                  <div layout-gt-xs="row">

                      <md-input-container class="md-block" flex-gt-xs="">
                          <label>IP público</label>
                          <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.public_ip" name="publicIP">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Usuário da Máquina</label>
                          <input  ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.machine_user" name="machineUser">

                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Processador</label>
                          <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.processor">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>HD</label>
                          <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.hd">
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Memória RAM</label>
                          <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.ram_memory">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Número de Patrimônio</label>
                          <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.number_Patrimony" name="numberOfPatrimony">
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Patrimônio Inst</label>
                          <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.inst_Patrimony" name="instPatrimony">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Monitor</label>
                          <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.monitor">
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Número de Patrimônio do Monitor </label>
                          <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.monitor_number_Patrimony" name="monitorNumberOfPatrimony">
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Patrimônio Monitor Inst</label>
                          <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.inst_monitor_Patrimony" name="instMonitorPatrimony">
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Sala</label>
                          <md-select ng-disabled = "currentUserKind == 'COMUM'" ng-model="machine.room" name="room">
                              <md-option ng-repeat="room in listRooms" id="{{room.name}}" value="{{room.name}}">{{room.name}}</md-option>
                          </md-select>
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Situação</label>
                          <md-select ng-disabled = "currentUserKind == 'COMUM'" ng-model="machine.situation" name="machineSituation">
                              <md-option value="bom">BOM</md-option>
                              <md-option value="ruim">RUIM</md-option>
                              <md-option value="desuso">DESUSO</md-option>
                              <md-option value="doação">DOAÇÂO</md-option>
                          </md-select>
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Data de aquisição</label>
                          <md-datepicker ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.acquisition_date" md-placeholder="Enter date" md-open-on-focus name="machineAcquisitionDate" md-max-date="maxDate"></md-datepicker>
                      </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm="">
                          <label>Local de Destino</label>
                          <input ng-disabled = "currentUserKind == 'COMUM'" type="text" ng-model="machine.destination">
                      </md-input-container>
                  </div>

                  <!--  se não tiver foto for criar, mostra esse -->
                  <input id="imageMachine" type="file" name="image" ng-model=machine.image>

                  <br>
                  <br>

                  <div>
                    <md-button ng-click="viewImage(machine)" ng-show="(machine != null) && getHasImage(machine)" ng-model="machine.image" class="md-primary md-hue-1">Maquina ja possui uma imagem</md-button>
                  </div>

                  <div ng-show="clickOK">
                    <img ng-src="{{trustSrc(imageUrl)}}" style="width:400px; height:400px; display:inline-block" alt=""></img>
                  </div>

                  <div class="md-block" ng-if="!editable" flex-gt-xs style="text-align: right">
                      <md-button type="submit" value="salvar" ng-click="addMachine(machine)" class="md-raised md-primary">Salvar</md-button>
                  </div>
                  <div class="md-block" ng-if="editable" ng-hide="currentUserKind == 'COMUM'" flex-gt-xs style="text-align: right">
                      <md-button type="submit" value="editar" ng-click="editMachine(machine)" class="md-raised md-primary">Editar</md-button>
                  </div>
              </form>
          </div>
        </md-card>
      </md-content>

  </div>
</div>
